.container-modal {

    .close-modal {
        text-align: end;

        button {
            background: transparent;
            transition: filter 0.2s;
            border: none;
    
            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .image-user {
            width: 5.9rem;
            height: 5.9rem;
            border-radius: 50%;
            background: #27272A;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 5.6rem;
                height: 5.6rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .info-user-modal {
            p {
                margin: 1rem 0;
                font-size: 1rem;
                line-height: 1.6rem;
                color: var(--dark-600);
            }
        }
    }
}